.task-carousel {
  background-image: url("../../assets/images/background.jpeg");
  padding: 20px;
}

.task-carousel-content {
  background-color: #fff;
  width: 40%;
  height: 100px;
}

.task-carousel-container {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-around;
}