.auth-button {
  padding: 10px 20px;
  border: 1px solid var(--color-core);
  border-radius: 20px;
  
  background-color: #fff;
  color: var(--color-core);
  width: 100%;
}

.auth-button:hover, .auth-button:active {
  border: 1px solid var(--color-core);
  border-radius: 20px;
  background-color: var(--color-core);
  color: #fff;
}
